/* Estilo base */
  body {
   text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  /* Area de texto */
  #inputArea {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #b2dff610;
    color: black;
    padding: 1em;
    border-radius: 10px;
    outline: none;
    border: 2px #0b427d6f solid;
    position: relative;
    
  }
  /* Cambio de puntero en area de texto */
  #inputArea:hover {
    cursor: pointer;
  }
  /* Texto del area de texto */
  ::placeholder {
    color: #6360604d;
    opacity: 1; 
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    /* Buscador de claves */
  #buscador {
    font-family: 'Comic Sans MS', sans-serif;
    text-align: left;
    background-color: #f4f4f4;
    color: black;
    border: 2px #f4f4f4 solid;
    padding: 1em;

  }
  #resultado{
    text-align: left;
    font-family: 'Comic Sans MS', sans-serif;
    color: #9cbfd1f0;

  }
  
  /* Contenedor principal */
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }
  
  /* Cabecera */
  header {
    background: #005792;
    color: #ffffff;
    padding: 10px;
    border-bottom: #004d7a 3px solid;
  }
  
  /* Navegación */
  header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }
  
  header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  header li {
    padding: 0 20px;
  }
  
  header #branding {
    display: flex;
    align-items: center;
  }
  
  header #branding h1 {
    margin: 0;
    font-size: 24px;
  }
  
  /* Botones */
  button {
    background-color: #0083b0;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005792;
  }
  
  /* Sección de contenido */
  .content-section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Pie de página */
  footer {
    background: #f4f4f4;
    color: black;
    text-align: left;
    padding: 10px 0;
  }
  #mensaje {
    background: #f4f4f4;
    color: #005792;
    text-align: center;
    padding: 10px 0;
  }

